{{!

login form handlebar template

}}

<main>
  <h1 class="pageTitle">{{pageTitle}}</h1>
  <div>
    <form action="/login" method="POST" id="login-form">
      <label for="emailAddressInput" class="loginLabel">Email:</label>
      <input type="email" id="emailAddressInput" name="emailAddressInput" >

      <label for="passwordInput" class="passwordLabel">Password:</label>
      <input type="password" name="passwordInput" id="passwordInput" >

      <button type="submit" class="submit">Login</button>
    </form>
    <p id="error-message-routes"> {{error}}</p>
    <p id="error-message"></p>
  </div>

  <div>
    <a href="/register" class="redirectRegister">Click here to register!</a>
  </div>

</main>